@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-famaly: "Montserrat", sans-serif;
    --bg-color: #191825;
    --primary-color: #865DFF;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-famaly);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

span {
    font-weight: 700;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
    font-weight: 600;
}

.box {
    border: 1px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}


.jgrnovamente {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 0px 1px 20px -6px var(--primary-color);
    transition: .9s;
}

.jgrnovamente:hover {
    font-weight: bolder;
    padding: 15px 90px;
    box-shadow: 0px 1px 50px -6px var(--primary-color);
}